*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding: 20px;
}

h2{
    margin-top: 20px;
}

.tablas{
    width: 100%;
    justify-content: center;
    text-align: center;
}

.tablas th{
    background-color: chocolate;
    color: white;
}

.tablas td{
    background-color: antiquewhite;
}